<%= render 'shared/topmenu' %>

<div class="uni-page-container">
  <h2 class="mb-5 mx-3 text-center"><%= t('trip_page.index.title_1') %></h2>

<!-- this is the search part
  <div class="mb-50 search">
    <%= form_tag trips_path, class: "form-container", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control form-input",
      placeholder: "Filter by keywords"
    %>
    <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>
 -->

<!-- this is the results listing all trips -->
  <div class="mb-7rem text-center">
    <% @cycling_routes.each do |cycling_route| %>

    <% unless @trips.where(cycling_route: cycling_route).empty? %>

      <h5 class="ml-3 mt-5 mb-3"><%= cycling_route %></h5>
        <%# <div class=" card_trip_all_button">
          <div class=" mb-3">
            <%= link_to  t('trip_page.index.see_all'), new_trip_path, class: "btn-simple" %>
          <%# </div> <%= t('trip_page.index.see_all') %>
        <%# </div> %>
        <div class="new_card_trip_container">
          <% @trips.where(cycling_route: cycling_route).each do|trip|   %>
              <%= render 'shared/trips_card_redesign', trip: trip %>
          <% end %>
        </div>
    <% end %>

    <% end %>

    <h5 class="ml-3 mt-5 mb-3"><%= t('trip_page.index.title_2') %></h5>
    <%# <div class=" card_trip_all_button">
      <div class=" mb-3">
        <%= link_to  t('trip_page.index.see_all'), new_trip_path, class: "btn-simple" %>
      <%# </div> %>
    <%# </div> %>
    <div class="new_card_trip_container">
      <% @trips_noroute.each do |trip| %>
          <%= render 'shared/trips_card_redesign', trip: trip %>
      <% end %>
    </div>


  </div>

  <div>

  </div>
</div>
<%= render 'shared/navbar' %>
