<div class="form-container uni-box-shadow">
  <div class="form-title">
    <h1 class="ml-2 mt-2">Add your trip</h1>
  </div>

<%= simple_form_for @trip do |f| %>
  <div class="form-input">
    <%= f.input :photo,  label: "Upload your picture"  %>
    <%= f.input :name, label: "Title name" %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <hr class="line-divider my-4">
    <%= f.input :country_code, priority: ["FR", "DE","NL", "NO","GB", "US"], prompt: "Select a Country", label: false %>
    <p style="color:#26547C;">OR</p>
    <div class="form-group">
    <%= f.input :cycling_route, collection: Trip::CYCLING_ROUTES, prompt: "Select a Cycling Route", label: false %>
    </div>
    <hr class="line-divider my-4">
    <%= f.input :km, label: "Kilometers achieved / planned "%>
    <%= f.input :blog,  label: "Blog of this trip"  %>

  </div>
    <div class="form-buttons">
      <%=f.submit :Submit, class: "btn-main mb-50" %>
    </div>
<% end %>
</div>
