<div class="form-container">
  <div class="form-title">
    <h1 class="" style='text-align: center; margin: 30px 0 30px 0 ;'><%= t('trip_page.add') %></h1>
      <%# <hr class="line-divider my-4"> %>
  </div>

<%= simple_form_for @trip do |f| %>
  <div class="form-bottom">
    <%= f.input :photo, label: t('trip_page.form.upload_picture') %>
    <%= f.input :name,label: t('trip_page.form.title.field'), placeholder: t('trip_page.form.title.placeholder') %>
    <%= f.input :start_date, label: t('trip_page.form.start_date') %>
    <%= f.input :end_date, include_blank: true, label: t('trip_page.form.end_date') %>

    <hr class="line-divider my-4">

    <%= f.input :country_code, priority: ["FR", "DE","NL", "NO","GB", "US"], prompt: t('trip_page.form.select_country'), label: false %>
    <p class="grey-text font-14"><%= t('trip_page.form.and') %></p>
    <div class="form-group">
    <%= f.input :cycling_route, collection: Trip::CYCLING_ROUTES, prompt: t('trip_page.form.select_route'), label: false %>
    </div>

    <hr class="line-divider my-4">

    <%= f.input :description, label: t('trip_page.form.description.field'), placeholder: t('trip_page.form.description.placeholder')%>
    <%= f.input :km, label: t('trip_page.form.km.field'), placeholder: t('trip_page.form.km.placeholder')%>
    <%= f.input :blog, label: t('trip_page.form.blog.field'), placeholder: t('trip_page.form.blog.placeholder') %>

  </div>
    <div class="form-buttons">
      <%=f.submit t('button.submit'), class: "btn-main mb-50" %>
    </div>
<% end %>
</div>
