<div class="form-container uni-box-shadow">
  <div class="form-title">
    <h1 class="ml-2 mt-2">Add your trip</h1>
  </div>

<%= simple_form_for @trip do |f| %>
  <div class="form-input">
    <%= f.input :name, label: "Where you were travelling?" %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :km, label: "How long was the way(km)?"%>
    <%= f.input :blog,  label: "Share your blog with the world"  %>
    <%= f.input :photo,  label: "Upload your picture"  %>

  </div>
    <div class="form-buttons">
      <%=f.submit :Submit, class: "btn-main" %>
    </div>
<% end %>
</div>
