<div class="form-container">
  <div class="form-title">
    <h1 class="ml-2 mt-2">Add your trip</h1>
  </div>

<%= simple_form_for @trip do |f| %>
  <div class="form-input">
    <%= f.input :photo,  label: "Upload your picture"  %>
    <%= f.input :name, label: "Title", placeholder: 'From Hanoi to Siem Reap' %>
    <%= f.input :start_date %>
    <%= f.input :end_date, include_blank: true %>
    <hr class="line-divider my-4">
    <%= f.input :country_code, priority: ["FR", "DE","NL", "NO","GB", "US"], prompt: "Select a Country", label: false %>
    <p class="grey-text font-14">and / or</p>
    <div class="form-group">
    <%= f.input :cycling_route, collection: Trip::CYCLING_ROUTES, prompt: "Select a Cycling Route", label: false %>
    </div>
    <hr class="line-divider my-4">
    <%= f.input :description, label: "Description ", placeholder: "Tell other cyclo-er some highlights ..."%>
    <%= f.input :km, label: "Kilometers achieved / planned ", placeholder: "1500"%>
    <%= f.input :blog,  label: "Blog of this trip", placeholder: "www.ciclo-app.com"  %>

  </div>
    <div class="form-buttons">
      <%=f.submit :Submit, class: "btn-main mb-50" %>
    </div>
<% end %>
</div>
