<div class="uni-page-container mb-50">
  <div class="trip-show-top-img">
    <%= cl_image_tag @trip.photo.url(:low) %>
  </div>

  <div class="trip-stats">
    <div class="trip-stat">
      <i class="fas fa-stopwatch trip-stat-icon"></i>
      <p><%=  @trip.trip_time%> days</p>
    </div>
    <% unless @trip.km.nil? %>
      <div class="trip-stat">
        <!-- <i class="fas fa-route"></i> -->
        <i class="fas fa-arrows-alt-h trip-stat-icon"></i>
        <p> <%= @trip.km %> km</p>
      </div>
    <%end %>
 <!--    <div class="trip-stat">
      <i class="fas fa-long-arrow-alt-up trip-stat-icon"></i>
      <p>1000 m</p>
    </div>
    <div class="trip-stat">
      <i class="fas fa-long-arrow-alt-down trip-stat-icon"></i>
      <p>1000 m</p>
    </div> -->
  </div>


  <div class="mx-3 mb-50">
    <h3><%= @trip.name %></h3>
    <p> by <%= @trip.user.full_name %>, started in <%= @trip.start_date.strftime("%b %Y")  %></p>

    <p class="mt-5"> <%= @trip.description %></p>
    <% unless @trip.blog.nil? || @trip.blog.empty? %>
      <a href="<%= @trip.blog %>" class="btn-simple"> view the blog </a>
    <% end %>
  </div>

  <div class="trip-show-btn mb-50">
    <%= link_to "See similar trips", trips_path, class: "btn-secondary" %>
  </div>
</div>
