<div class="form-container">


      <h2 class="text-center mt-4"><%= t('devise.registrations.edit.headline') %></h2>



  <div class="form-bottom">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <div class="text-center">
          <% if current_user.photo.file %>
            <%= cl_image_tag(current_user.photo.url(:avatar_small)) %>
          <% end %>
          <%= f.input :photo, label: t('devise.form.photo') %>
        </div>
        <hr>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :full_name, label: t('devise.form.username'), required: true %>
        <%= f.input :email, required: true, autofocus: true,label: t('devise.form.email') %>
        <%= f.input :bio, required: true,label: t('devise.form.bio') %>
        <%= f.input :description, required: true,label: t('devise.form.description') %>
        <%= f.input :blog, required: true,label: t('devise.form.blog') %>
        <%= f.input :status,
                  required: true,
                  as: :radio_buttons,
                  label:t('devise.form.status') %>
      </div>
      <div class="form-actions btn-edit-profile">
          <%= f.button :submit, t('button.update'), class: "btn-main"%>
          <%= link_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: t('button.delete_confirmation')}, method: :delete, class: "btn-minimal" %>
          <%= link_to t('button.back'), :back, class: "btn-minimal mb-4" %>
      </div>
      <% end %>
  </div>
</div>
