<div class="form-container">


      <h2 class="text-center mt-4">Edit Profile</h2>



  <div class="form-bottom">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <div class="text-center">
          <% if current_user.photo.file %>
            <%= cl_image_tag(current_user.photo.url(:avatar_small)) %>
          <% end %>
          <%= f.input :photo, label: 'Change Photo' %>
        </div>
        <hr>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :full_name, required: true %>
        <%= f.input :bio, required: true %>
        <%= f.input :description, required: true %>
        <%= f.input :blog, required: true %>
        <%= f.input :status,
                  required: true,
                  as: :radio_buttons,
                  label: "Are you cycling right now?" %>
      </div>
      <div class="form-actions btn-edit-profile">
          <%= f.button :submit, "Update", class: "btn-main"%>
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-minimal" %>
          <%= link_to "Back", :back, class: "btn-minimal mb-4" %>
      </div>
      <% end %>
  </div>
</div>
