<div class="form-container">
  <div class="form-top">
    <div class="form-title">
      <h2 class="uni-text-shadow">Get started</h2>
      <hr>
    </div>
  </div>
    <div class="form-bottom sign-up">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-input">
          <%= f.input :full_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" },
                      label: 'Username' %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-buttons flex-column align-items-center">
          <%= f.button :submit, "Sign up", class: "btn-main" %>
       <!--    <p class="mt-3" style="color:#6c757d; font-size:14px"> By signing up you agree to our <%= link_to 'Terms of services', terms_path, class: 'btn-link-blue'%></p> -->
          <hr class="line-divider mt-3">
          <p class="mt-2" style="color:#6c757d"> Have an account ?  <%= render "devise/shared/links" %></p>
        </div>
      <% end %>
    </div>
</div>
