<div style="margin: auto 0px;">
  <div style="background-color: #26547C;height: 50px; display: flex;align-items: center;">
   <img src="https://res.cloudinary.com/dwkwy2q1n/image/upload/v1584900424/logos/Logo%20Cyclo.png" alt=<%= t('user_mailer.chat.entete.image_alt')%> style="height: 30px; margin: 0px 0px 0px 10px">
   <hr style="height: 10px;color: white;margin: 0px 10px;">
   <span style="color: white;"><%= t('user_mailer.chat.entete.image_alt') %></span>
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;">
    <h2 style="font-size: 24px; margin: 20px 0px 10px 0px;font-weight: 500;text-align: center; "><%= @receiver.full_name.capitalize %>,</h2>
    <h3 style="font-size: 24px; font-weight: 500; margin: 0px 0px 0px 0px; text-align: center;"><%= t('user_mailer.chat.headline').html_safe %></h3>
  </div>
  <hr style="width: 100px; background-color: #FE2A53; height: 2px; margin-top: 40px; margin-bottom: 40px">
  <div style="display: flex;
    flex-direction: column;
    align-items: center;">
    <% if @user.photo.present? %>
    <%= cl_image_tag(@user.photo.url(:avatar), fetch_format: :auto, height: '70')%>
    <% else %>
      <%= cl_image_tag('logos/empty_profile.png', height: 100,
                                               quality: "auto:best", opacity: 20)  %>
     <% end %>
    <h3 style="font-size: 18px; font-weight: 600; margin: 20px 0px 5px 0px;"><%= @user.full_name.capitalize %></h3>
    <p  style="font-size: 14px; font-weight: 500; margin: 10px 0px; opacity:0.5;    text-align: center;"><%= @user.bio %></p>
     <%= link_to t('user_mailer.chat.action'), conversation_url(id: @conversation.id), style: "background-color: #FE2A53;
    padding: 5px 10px;
    border-radius: 50px;
    border-style: none;
    color: #fff;
    margin: 25px 5px 30px 5px;
    min-height: 25px;
    min-width: 150px;
    max-width: 200px;
    display: flex;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-weight: 550; text-decoration: none;text-align: center;" =%>
  </div>
  <div style="background-color: #26547C;height: 50px;"></div>
</div>
