<div class="navbar">
    <div class="navbar-item">
      <%= link_to trips_path, class: "anchor_link" do %>
        <i class="fas fa-route"></i>
        <p><%= t('navigation.trips') %></p>
      <% end %>
    </div>

    <div class="navbar-item">
      <%= link_to feed_path, class: "anchor_link notif" do %>
        <i class="fas fa-rss"></i>
        <% unless @badge_poi_unpublished.zero? %>
          <p class="notif-badge"><%= @badge_poi_unpublished %></p>
        <% end %>
      <p><%= t('navigation.feed') %></p>
      <% end %>
    </div>
    <div class="navbar-item" id="navbar-map">
      <%= link_to map_path, class: "anchor_link" do %>
        <i class="fas fa-map-marked-alt"></i>
        <p><%= t('navigation.map') %></p>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to conversations_path, class: "anchor_link" do %>
        <i class="far fa-comments"></i>
        <p><%= t('navigation.messages') %></p>
      <% end %>

    </div>

    <div class="navbar-item">
      <%= link_to profile_path, class: "anchor_link" do %>
        <i class="fas fa-user"></i>
        <p><%= t('navigation.profile') %></p>
      <% end %>
    </div>
</div>
