<div class="navbar">
    <div class="navbar-item">
      <%= link_to trips_path, class: "anchor_link" do %>
        <i class="fas fa-route"></i>
        <p>Trips</p>
      <% end %>
    </div>

    <div class="navbar-item">
      <%= link_to feed_path, class: "anchor_link" do %>
        <i class="fas fa-rss"></i>
      <% end %>
      <p>Feed</p>
    </div>
    <div class="navbar-item" id="navbar-map">
      <%= link_to map_path, class: "anchor_link" do %>
        <i class="fas fa-map-marked-alt"></i>
        <p>Map</p>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to conversations_path, class: "anchor_link" do %>
        <i class="far fa-comments"></i>
        <p>Messages</p>
      <% end %>

    </div>

    <div class="navbar-item">
      <%= link_to profile_path, class: "anchor_link" do %>
        <i class="fas fa-user"></i>
        <p>Profile</p>
      <% end %>
    </div>
</div>
