<div class="navbar">
    <div class="navbar-item" id=<% if current_page?(homepage_path) %>"active"<% end %>>
      <%= link_to homepage_path, class: "anchor_link" do %>
        <i class="fas fa-map-marked-alt"></i>
      <% end %>
      <p>Map</p>
    </div>
    <div class="navbar-item" id=<% if current_page?(point_of_interests_path) %>"active"<% end %>>
      <%= link_to point_of_interests_path, class: "anchor_link" do %>
        <i class="far fa-bookmark"></i>
      <% end %>
      <p>My list</p>
    </div>
    <div class="navbar-item navbar-item-plus" id=<% if current_page?(new_point_of_interest_path) %>"active"<% end %>>
      <%= link_to new_point_of_interest_path, class: "anchor_link" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <div class="navbar-item" id=<% if current_page?('/thisisatest') %>"active"<% end %>>
      <%= link_to '/thisisatest', class: "anchor_link" do %>
        <i class="fas fa-rss"></i>
      <% end %>
      <p>Feed</p>
    </div>
    <div class="navbar-item" id=<% if current_page?(profile_path) %>"active"<% end %>>
      <%= link_to profile_path, class: "anchor_link" do %>
        <i class="fas fa-user"></i>
      <% end %>
      <p>Profile</p>
    </div>
</div>
