<div class="top-menu uni-box-shadow">
  <div class="top-menu-item-icon dropdown ml-2">
    <button  class="btn-drop"><i class="fas fa-bars"></i></button>
    <div id="dropdown-items" class="dropdown-content">
      <%= link_to 'Home', homepage_path %>
      <%= link_to 'Map', map_path %>
      <% if !current_user %>
      <%= link_to 'Log in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
      <%= link_to 'Help', help_path %>
      <%= link_to 'Contact', contact_path %>
      <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>

  <div class="top-menu-item">
    <%= link_to homepage_path do %>
      <h2>Cicloo</h2>
    <% end %>
  </div>

  <div class="top-menu-item">

  </div>
</div>
