<h2 class="mt-3 mb-5 ml-3">My contribution to the Map</h2>

<% @user_poi.each do |poi| %>

<!-- if the poi is unpublished / user clicked on later -->

  <% if poi.published == false %>
    <%= link_to point_of_interest_path(poi), class: "comment-link" do %>
      <div class="comment-card mx-3">

        <div class="comment-card-image">
          <img src=<%= poi.icon %> alt="" height=20>
        </div>

        <div class="comment-card-text">
          <h5><strong><%= poi.title %></strong></h5>
          <p><%= poi.description %></p>
          <p class= "uni-opacity40">unpublished</p>
        </div>
        <div class="comment-edit-icon">
          <i class="far fa-edit"></i>
        </div>
      </div>
    <% end %>

<!-- if the poi is published / user clicked on submit -->

  <% else %>

      <%= link_to point_of_interest_path(poi), class: "comment-link" do %>
      <div class="comment-card mx-3">

        <div class="comment-card-image">
          <img src=<%= poi.icon %> alt="" height=20>
        </div>

        <div class="comment-card-text">
          <h5><strong><%= poi.title %></strong></h5>
          <p><%= poi.description %></p>
          <p class= "uni-opacity40"><%= poi.date %></p>
        </div>
      </div>
    <% end %>

  <% end %>
<% end %>
