<h2 class="row d-flex justify-content-center mt-4">Add to the map</h2>

<div class="uni-page-container mt-2">
  <div class="uni-page-container text-center">
       <% if
         @point_of_interest.photo.present? %>
       <% else %>
         <img src="https://image.flaticon.com/icons/png/512/3/3901.png" class="avatar-large">
       <% end %>
     </div>

  <div class="form-container">
    <%= simple_form_for(@point_of_interest) do |f| %>
     <div class="form-input">
        <%= f.input :photo %>

        <div class="form-group">
          <label class="form-control-label" for="point_of_interest_poi_type">
          What is it? (select 1 option only)
          </label>
            <div class="poi-type-choices">

            <% POINT_OF_INTEREST.each do |key, value| %>

              <input class="hidden" type="checkbox" name="point_of_interest[poi_type]" value="<%= value[:label] %>" id="poi_<%= value[:label] %>" style="display: none;">

              <label for="poi_<%= value[:label] %>" class="poi-type-choice">
                <img src="<%= value[:marker_icon] %>" alt="" height=70>
                <p class="poi-type-choice-title"> <%= value[:name] %></p>
              </label>

            <% end %>

            </div>
         </div>



        <%= f.input :title, placeholder: "Enter your title here" %>
        <%= f.input :description, placeholder: "Enter your description here" %>

     </div>

   <div class="row d-flex justify-content-center">
     <%= f.submit "Later", class: "btn-secondary"  %>
     <%= f.submit "Add", class: "btn-main" %>
   </div>

     <% end %>
  </div>
</div>
