<h2 class="row d-flex justify-content-center">Add to the map</h2>

<div class="uni-page-container mt-2">
  <div class="uni-page-container text-center">
       <% if
         @point_of_interest.photo.present? %>
       <% else %>
         <img src="https://image.flaticon.com/icons/png/512/3/3901.png" class="avatar-large">
       <% end %>
     </div>

  <div class="form-container">
    <%= simple_form_for(@point_of_interest) do |f| %>
     <div class="form-input">
        <%= f.input :photo %>
        <%= f.input :poi_type, label: "What is it?", collection: POINT_OF_INTEREST, prompt: "Select"%>
        <%= f.input :description, placeholder: "Enter you description here" %>
     </div>

   <div class="row d-flex justify-content-center">
     <%= f.submit "Later", class: "btn-secondary"  %>
     <%= f.submit "Add", class: "btn-main" %>
   </div>

     <% end %>
  </div>
</div>
