


<div class="form-container mb-5">
  <h2 class="row d-flex justify-content-center mt-4"><%= t('poi_page.new') %></h2>

  <div class="text-center">
    <% if
      @point_of_interest.photo.present? %>
    <% else %>
      <img src="https://image.flaticon.com/icons/png/512/3/3901.png" class="avatar-large">
    <% end %>
  </div>

    <%= simple_form_for(@point_of_interest) do |f| %>
     <div class="form-bottom">
        <%= f.input :photo, label: t('poi_page.form.photo') %>

        <div class="form-group">
          <label class="form-control-label" for="point_of_interest_poi_type">
          <%= t('poi_page.form.choose_type') %>
          </label>
            <div class="poi-type-choices">

            <% POINT_OF_INTEREST.each do |key, value| %>

              <input class="hidden" type="checkbox" name="point_of_interest[poi_type]" value="<%= key %>" id="poi_<%= value[:label] %>" style="display: none;">

              <label for="poi_<%= value[:label] %>" class="poi-type-choice">
                <img src="<%= value[:marker_icon] %>" alt="" height=70>
                <p class="poi-type-choice-title"> <%= t("point_of_interests.#{value[:label] }") %></p>
              </label>

            <% end %>

            </div>
         </div>


        <%= f.hidden_field :lat, :value => params['lat'] %>
        <%= f.hidden_field :long, :value => params['lng'] %>
        <%= f.input :title, label: t("poi_page.form.title.field"), placeholder: t("poi_page.form.title.placeholder") %>
        <%= f.input :description, as: :text, label: t("poi_page.form.description.field"), placeholder: t("poi_page.form.description.placeholder") %>

     </div>

   <div class="row d-flex justify-content-center ">
     <%= f.submit t('poi_page.form.action.submit_later'), class: "btn-secondary"  %>
     <%= f.submit t('poi_page.form.action.submit_now'), class: "btn-main" %>
   </div>

     <% end %>
</div>
