<div class="uni-page-container">
<!-- image block -->



  <div class="poi-show-top">
    <%= cl_image_tag(@poi.photo.url(:auto)) %>
    <div class="bookmark-position">
      <%= link_to point_of_interest_bookmarks_path(@poi, user: current_user), method: :post do %>
        <i class="far fa-star btn-bookmark btn-bookmark-active"></i>
        <p hidden><%= @poi.bookmarks.count %></p>
      <% end %>
    </div>
    <div class="btn-container">
      <div class="btn-like-primary">
        <%= link_to point_of_interest_likes_path(@poi, user: current_user), method: :post do %>
          <i class="fas fa-thumbs-up"></i>
          <p><%= @poi.likes.count %></p>
        <% end %>
      </div>

      <div class="btn-like-secondary">
        <%= link_to point_of_interest_downvotes_path(@poi, user: current_user), method: :post do  %>
          <i class="far fa-thumbs-down"></i>
          <p> <%= @poi.downvotes.count %></p>
        <% end %>
      </div>
    </div>
  </div>

<!-- top details -->


  <div class="poi-show-details">
    <h2> <%= @poi.title %></h2>
    <div class="poi-show-details-category mb-2">
      <img src=<%= @poi.icon %> alt="">
      <div class="pl-2">
        <%= t("point_of_interests.#{@poi.label}") %>
        <%= t('poi_page.show.km_away', km:@poi.distance(current_user) ) %></div>
    </div>
    <div class="mb-3 uni-opacity40">
      <%= t('poi_page.show.created_by', creator: @poi.user.full_name,date: @poi.date) %>
    </div>
  </div>


<!-- description block -->
  <div class="margin20">
    <h4 class="mb-3"><%= t('comment.title') %></h4>
    <div class="comment-card">
      <div class="comment-card-image">
        <%= cl_image_tag(@poi.user.photo.url(:avatar), fetch_format: :auto) %>
      </div>
      <div class="comment-card-text">
        <h5><strong><%= @poi.user.full_name %></strong> </h5>
        <p class= "uni-opacity40"><%= @poi.date %></p>
        <p><%= @poi.description %></p>
      </div>
    </div>

    <div id="comments">
      <% @poi.comments.each do |comment| %>
        <div class="comment-card">
          <div class="comment-card-image">
            <%= cl_image_tag(comment.user.photo.url(:avatar)) %>
          </div>
          <div class="comment-card-text">
            <h5><strong><%= comment.user.full_name %></strong></h5>
            <p class= "uni-opacity40"><%= comment.date %></p>
            <p><%= comment.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- comments block -->

  <div class="new_comment">
    <%= simple_form_for([@poi, @comment]) do |f| %>
      <div class="d-flex margin20 mt-3 flex-just-betw">
        <div class="d-flex">
          <%= cl_image_tag(current_user.photo.url(:avatar), class: "avatar-height") %>
          <div>
            <%= f.input :content, placeholder: t('comment.form.placeholder'), label: false, class: "no-border" %>
            <%= f.input :user, :as => :hidden, input_html: { value: current_user.id } %>
          </div>
        </div>
        <div class="btn-poi">
          <%= f.submit t('button.send') %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- last button -->


    <div class="show-poi-buttons mb-5" >
      <%# <%= link_to t('button.something_wrong), new_point_of_interest_report_path(@poi, @report), class: "btn-poi" %>
       <%= link_to t('button.edit'), edit_point_of_interest_path(@poi), class: "btn-secondary"  %>
    </div>


  <!-- end of the page -->
</div>
