
<div class="uni-page-container">
<!-- image block -->

  <div class="poi-show-top">
    <%= cl_image_tag @poi.photo %>
    <div class="btn-like">
      <div class="btn-like-primary">
        <%= link_to point_of_interest_likes_path(@poi, user: current_user), method: :post do %>
          <i class="fas fa-thumbs-up"></i>
          <p><%= @poi.likes.count %></p>
        <% end %>

      </div>

      <div class="btn-like-secondary">
        <%= link_to point_of_interest_downvotes_path(@poi, user: current_user), method: :post do  %>
          <i class="far fa-thumbs-down"></i>
          <p> <%= @poi.downvotes.count %></p>
        <% end %>
      </div>
    </div>
  </div>

<!-- top details -->

  <div>
    <div>
      <h1> <%= @poi.title %></h1>
    </div>

    <div class="d-flex">
      <img src="../../assets/images/water_marker.png" alt="">
      <div><%= @poi.poi_type %></div>
    </div>

    <div>
      Created by <%= @poi.user.full_name %>, <%= @date %>
    </div>
  </div>


<!-- description block -->

  <div>
    <h3>Description</h3>
    <p><%= @poi.description %></p>
  </div>

  <div id="comments">
    <% @poi.comments.each do |comment| %>
      <h2><%= comment.user.full_name %></h2>
      <p><%= comment.content %></p>
    <% end %>
  </div>


<!-- comments block -->
  <h1>Add a comment <%= @poi.title %></h1>

  <div id="new_comment">
    <%= simple_form_for([@poi, @comment]) do |f| %>
      <%= f.input :content %>
      <%= f.input :user, :as => :hidden, input_html: { value: current_user.id } %>
      <%= f.submit "Add comment", class: "btn-main" %>
    <% end %>
  </div>

  <!-- last button -->

  <div>
    <button class="btn-main">Something wrong ?</button>
  </div>

  <!-- end of the page -->
</div>
