<h1>PointOfInterests#show</h1>

<!-- image block -->

<div>
  <%= cl_image_tag @poi.photo %>

  <div>
    <%= link_to point_of_interest_likes_path(@poi, user: current_user), method: :post do %>
      <i class="fas fa-thumbs-up"></i>
      <%= @poi.likes.count %>
    <% end %>

  </div>

  <div>
    <%= link_to point_of_interest_downvotes_path(@poi, user: current_user), method: :post do  %>
      <i class="far fa-thumbs-down"></i>
      <%= @poi.downvotes.count %>
    <% end %>
  </div>

</div>

<!-- top details -->

<div>

  <div>
    <h1> <%= @poi.title %></h1>
  </div>

  <div class="d-flex ">
    <i class="fas fa-tint"></i>
    <div><%= @poi.poi_type %></div>
  </div>

  <div>
    Created by <%= @poi.user.full_name %>, <%= @date %>
  </div>

  <!-- description block -->

  <div>
    <h3>Description</h3>
    <p><%= @poi.description %></p>
  </div>


  <!-- comments block -->

  <div>
    <button>Add a comment</button>
    <button>Something wrong ?</button>
  </div>
