
<div class="uni-page-container">
<!-- image block -->

  <div class="poi-show-top">
    <%= cl_image_tag @poi.photo %>
    <div class="btn-container">
      <div class="btn-like-primary">
        <%= link_to point_of_interest_likes_path(@poi, user: current_user), method: :post do %>
          <i class="fas fa-thumbs-up"></i>
          <p><%= @poi.likes.count %></p>
        <% end %>
      </div>

      <div class="btn-like-secondary">
        <%= link_to point_of_interest_downvotes_path(@poi, user: current_user), method: :post do  %>
          <i class="far fa-thumbs-down"></i>
          <p> <%= @poi.downvotes.count %></p>
        <% end %>
      </div>
    </div>
  </div>

<!-- top details -->

  <div class="poi-show-details">
    <h2> <%= @poi.title %></h2>
    <div class="poi-show-details-category mb-2">
      <img src=<%= @poi.icon %> alt="">
      <div><%= @poi.name %></div>
    </div>
    <div class="mb-3 uni-opacity40">
      Created by <%= @poi.user.full_name %>, <%= @poi.date %>
    </div>
  </div>


<!-- description block -->

  <h3>Comment</h3>
  <div>
    <%= cl_image_tag(current_user.photo.url(:avatar), fetch_format: :auto) %>
    <h2><%= @poi.user.full_name %></h2>
    <p><%= @poi.date %></p>
    <p><%= @poi.description %></p>
  </div>

  <div id="comments">
    <% @poi.comments.each do |comment| %>
      <%= cl_image_tag(comment.user.photo.url(:avatar), fetch_format: :auto) %>
      <h2><%= comment.user.full_name %></h2>
      <p><%= comment.date %></p>
      <p><%= comment.content %></p>
    <% end %>
  </div>


<!-- comments block -->
  <h1>Add a comment <%= @poi.title %></h1>

  <div id="new_comment">
    <%= simple_form_for([@poi, @comment]) do |f| %>
      <%= f.input :content %>
      <%= f.input :user, :as => :hidden, input_html: { value: current_user.id } %>
      <%= f.submit "Add comment", class: "btn-main" %>
    <% end %>
  </div>

  <!-- last button -->

  <div>
    <button class="btn-main">Something wrong ?</button>
  </div>

  <!-- end of the page -->
</div>
