<div class="info_window_popdown">
      <div class="info_window_popdown_text">
        <div>
          <div class="info-window-first-row pb-2">
            <div>
               <% if cyclist.photo.url %>
                <img src=<%= cl_image_path cyclist.photo.url(:avatar) %> alt="" height=40>
              <% else %>
                <img src='https://i.imgur.com/dEwa4Bt.png' alt="" height=40>
              <% end %>
            </div>
            <div class="distance_km  pl-3">
               <strong><span><%= cyclist.full_name %></span></strong>
              <p class="uni-opacity40"> <%= t('map_card.km_away', distance: cyclist.distance(current_user))%> </p>
            </div>
          </div>
          <div>
            <div class=""><p> <%= cyclist.bio %> </p></div>
          </div>
        </div>
        <div class="info_window_popdown_btn ">
          <%= link_to userprofile_path(cyclist) do %>
            <p class="btn-main mr-3"><%= t('map_card.view') %></p>
          <% end %>
          <div class="closing-cross-popdown">
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
</div>


