<div class="info_window_popdown">
      <div class="info_window_popdown_text">
        <div>
          <div class="info-window-first-row pb-2">
            <div>
              <img src=<%= poi.icon %> alt="" height=40>

            </div>
              <div class="distance_km  pl-3">
                <strong><span><%= poi.title&.truncate(55) %></span></strong>
                <p class="uni-opacity40"> <%= t('map_card.km_away', distance: poi.distance(current_user))%> </p>
              </div>
          </div>
          <div>
            <div class="pl-2"><p> <%= poi.description&.truncate(130) %> </p></div>
          </div>
        </div>
        <div class="info_window_popdown_btn ">
          <%= link_to point_of_interest_path(poi) do %>
            <p class="btn-main mr-3"><%= t('map_card.view') %></p>
          <% end %>
          <a href="<%= "https://www.google.co.uk/maps?saddr=current+location&daddr="+"#{poi.lat}"+","+"#{poi.long}"%>" class="btn-simple" target="_blank"><%= t("map_card.direction") %></a>
          <div class="closing-cross-popdown">
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
</div>


