<div class="info_window_popdown">
      <div class="info_window_popdown_text">
        <div>
          <div class="pb-2">
            <img src=<%= poi.icon %> alt="" height=20>
            <span><%= poi.name %></span>
          </div>
          <div>
            <p> <%= poi.description %> </p>
          </div>
        </div>
        <div class="info_window_popdown_btn ">
          <%= link_to point_of_interest_path(poi) do %>
            <p class="btn-main mr-3">View</p>
          <% end %>
          <a href="<%= "https://www.google.co.uk/maps?saddr=current+location&daddr="+"#{poi.lat}"+","+"#{poi.long}"%>" class="btn-simple" target="_blank">Direction</a>
        </div>
      </div>
</div>


