<div class="">

  <!-- get in touch part -->
  <h3 class="text-center mt-4"><%= t('contact.get_in_touch') %></h3>
  <div class="contact-btn">
    <div>
      <%= form_for :conversation, url: conversations_path do |f| %>
        <%= f.hidden_field :receiver_id, value: @user.id %>
        <div class="" >
          <button type="submit" name="commit" class="chat-contact-btn" ><i class="fas fa-comments contact-social-icon"></i></button>
        </div>
      <% end %>
    </div>
    <div>
      <a href="https://www.facebook.com/cycloapp.org" class=""><i class="fab fa-facebook-square contact-social-icon"></i></a>
    </div>
    <div>
      <a href="https://www.instagram.com/cyclo_app" class=""><i class="fab fa-instagram contact-social-icon"></i></a>
    </div>
  </div>
  <hr class="line-divider">

  <!-- NPS part -->

  <h3 class="text-center mt-5 mb-3"><%= t('contact.give_feedback') %></h3>

<div class="px-3 text-center">
    <%= simple_form_for [@feedback] do |f| %>
      <%= f.input :rating, collection: (1..10).to_a, label: t('contact.feedback_form.rating.question'), prompt: t('contact.feedback_form.rating.prompt')  %>
      <%= f.input :comment, label: t('contact.feedback_form.comment.question'), placeholder: t('contact.feedback_form.comment.placeholder'), class: "mt-3" %>
      <%= f.submit t('contact.feedback_form.action'), class: "btn-main mb-5"%>
    <% end %>
</div>

</div>

