<%= render 'shared/topmenu' %>

<div class="uni-page-container">
  <div class="tabs">
    <a href="/feed?feed_type=me" class="tab active" id="feed-me">You</a>
    <a href="/feed?feed_type=all" class="tab" id="feed-all" >Ciclo-ers</a>
  </div>


<div>
  <% if @user_poi_unpublished.empty? && @user_poi_published.empty? %>
  <div class="empty-user-poi">
  <p class="px-3"> You haven't added any report to the map yet. Click on the <i class="uni-box-shadow btn-on-map-left fas fa-plus"></i> on the map to start </p>
  </div>
  <% end %>
</div>

  <!-- if the poi is unpublished / user clicked on later -->
<div class="">
  <% unless @user_poi_unpublished.count == 0%>

  <div class="unpublished-stats">
    <h5>
      You have <span class="badge-unpublished-feed"><%= @user_poi_unpublished.count%></span> unpublished reports
    </h5>
  </div>
  <% end %>

  <div class="mt-4">
    <% @user_poi_unpublished.each do |poi| %>


      <%= link_to edit_point_of_interest_path(poi), class: "comment-link" do %>
        <div class="comment-card-unpublished mx-3">

          <div class="comment-card-image-unpublished">
            <img src=<%= poi.icon %> alt="" height=20>
          </div>

          <div class="comment-card-text-unpublished">
            <h5><strong><%= poi.title %></strong></h5>
            <p><%= poi.description %></p>
            <p class= "uni-opacity40">unpublished</p>
          </div>
          <div class="comment-edit-icon">
            <i class="far fa-edit"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- if the poi is published / user clicked on submit -->
<div>
  <% @user_poi_published.each do |poi| %>
    <%= link_to point_of_interest_path(poi), class: "comment-link" do %>
      <div class="comment-card mx-3">
        <div class="comment-card-image">
          <img src=<%= poi.icon %> alt="" height=20>
        </div>
        <div class="comment-card-text">
          <h5><strong><%= poi.title %></strong></h5>
          <p><%= poi.description %></p>
          <p class= "uni-opacity40">
            <%= poi.date %>
            by
            <% if poi.user == current_user %>
              you
            <% else %>
              <%= poi.user.full_name %>
            <% end %>
          </p>
          <p class= "uni-opacity40"><%= Geocoder.search([poi.lat, poi.long]).first.country %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
<%= render 'shared/navbar' %>

