<div class="geoloc-message mt-3">
<h5><%= t('help_page.title').html_safe %></h5>
  <p>

    <br><br> <%= t('help_page.text').html_safe %>
    <br><br> <%= t('help_page.option_1').html_safe %> <a href="https://support.google.com/chrome/answer/114662?visit_id=637050214797993572-1587509472&rd=1"><%= t('help_page.cta') %></a>

    <br><br> <%= t('help_page.option_2').html_safe %> <a href="https://www.wikihow.com/Check-Your-Safari-History"><%= t('help_page.cta') %></a>

    <br><br> <%= t('help_page.option_3').html_safe %> <a href="https://www.samsung.com/uk/support/mobile-devices/how-do-i-clear-the-cache-history-or-cookies-on-the-internet-browser-on-galaxy-device/"><%= t('help_page.cta') %></a>
  </p>
</div>
