<%= render 'shared/topmenu' %>
<div
  id="map"
  style="width: 100%; height: 100%;"
  data-markers="<%= @markers.to_json %>"
  data-cyclists="<%= @cyclist_avatars.to_json %>"
  data-user-position="<%= @user_last_position.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%= link_to preferencesedit_path(@user) do %>
  <div class="btn-on-map-top">
      <i class="fas fa-filter"></i></a>
  </div>
  <% end %>

  <%= link_to new_point_of_interest_path, class: 'plus' do %>
  <div class="btn-on-map-left uni-box-shadow">
    <i class="fas fa-plus"></i></a>
  </div>
  <% end %>

  <%# <div class="btn-on-map-right uni-box-shadow">
    <button><i class="fas fa-location-arrow"></i>
    </button>
  </div> %>
  <%= render 'shared/navbar' if !devise_controller? %>
