<div class="uni-page-container">

<% if current_user.present? %>
  <% if current_user.photo %>
    <%= image_tag("dummy-profile.png") %>
  <% else %>
    No photo
  <% end %>
  <strong><h3><%= current_user.full_name  %></h3></strong>
  <font size="+1"><p><%= current_user.bio  %></p></font>
  <p><%= current_user.description  %><p>
  <font size="+1"><h5><%= current_user.blog  %></h5></font>
<% end %>

<i class="fas fa-pen"></i><%= link_to 'Edit', edit_user_registration_path, class: "btn-simple"%>


  <div class="parent-card">

    <div class="card-trip-header"><h3>Your past trips </h3></div>
    <% current_user.trips.each do |trip| %>
      <div class="card-trip mb-3">
        <strong><h3><%= trip.name %></h3></strong>
         <div class="container-card">
            <p><%= trip.start_date.year %><p>
            <p><%= trip.start_date.strftime("%B") %><p>
            <strong><p><%= (trip.start_date.to_date..trip.end_date.to_date).to_a.size %> days</p></strong>
            <strong><p><%= trip.km %> kilometers</p></strong>
      </div>
      </div>
    <% end %>
  </div>
    <%= link_to 'Add trip', new_trip_path, class: "btn-main" %>
</div>
