<div class="uni-page-container">

<% if current_user.present? %>
    <% if current_user.photo %>
      <%= image_tag("dummy-profile.png") %>
    <% else %>
      No photo
    <% end %>
        <strong><h3><%= current_user.full_name  %></h3></strong>
          <font size="+1"><p><%= current_user.bio  %></p></font>
           <p><%= current_user.description  %><p>
         <font size="+1"><h5><%= current_user.blog  %></h5></font>
    <% end %>

<i class="fas fa-pen"></i><%= link_to 'Edit', edit_user_registration_path, class: "btn-simple"%>



  <div>
    <h3>Your past trips </h3>
    <% current_user.trips.each do |trip| %>
          <p><%= trip.start_date %></p>
              <p><%= trip.end_date %></p>
                <p>I have travelled through <%= trip.name %></p>
              <p><%= trip.km %>km</p>
          <p>Check out my blog: <%= trip.blog %></p>
    <% end %>



<%= link_to 'Add trip', new_trip_path, class: "btn-main" %>

</div>

</div>
