<div class="uni-page-container text-center p-3">

<% if current_user.present? %>
  <% if current_user.photo.file %>
    <%= cl_image_tag(current_user.photo.url(:avatar), fetch_format: :auto) %>
  <% else %>
    <img src="https://articles-images.sftcdn.net/wp-content/uploads/sites/3/2016/01/wallpaper-for-facebook-profile-photo.jpg" alt="Image not found" class="avatar-large">
  <% end %>
<div class="info-card">
  <strong><h5><%= current_user.full_name  %></h5></strong>
  <p><%= current_user.bio  %></p>
  <p><%= current_user.description %><p>
  <h6><%= current_user.blog  %></h6>
<% end %>
</div>

<div class="mt-3">
  <i class="fas fa-pen pr-2"></i><%= link_to 'Edit', edit_user_registration_path, class: "btn-simple"%>
</div>


  <div class="parent-card">
    <div class="card-trip-header mt-5"><h5>Your past trips </h5></div>

    <% current_user.trips.each do |trip| %>
      <div class="card-trip mb-3" style="background: linear-gradient(-225deg, rgba(30,30,30,0.4) 30%, rgba(46,46,46,0.5) 80%),url(<%= trip.photo_url %>); background-size: cover; background-repeat: no-repeat; background-position: center center;">
        <strong><h3><%= trip.name %></h3></strong>
         <div class="container-card">
            <div>
              <p><strong><%= trip.start_date.year %></strong></p>
              <font size="1"><p><%= trip.start_date.strftime("%B") %></p></font>
            </div>
            <div>
              <p><strong><%= (trip.start_date.to_date..trip.end_date.to_date).to_a.size %> </strong></p>
              <font size="1"><p>days</p></font>
            </div>
            <div>
              <p><strong><%= trip.km %> </strong></p>
              <font size="1"><p>kilometers</p></font>
            </div>
      </div>
      </div>
    <% end %>
    <div class="card-trip-btn d-flex justify-content-center my-3">
      <%= link_to 'Add trip', new_trip_path, class: "btn-secondary mb-3" %>

    </div>
  </div>
</div>
