<div class="uni-page-container text-center p-3">
  <% if @user.photo.file %>
      <%= cl_image_tag @user.photo.url(:avatar) %>
  <% else %>
      <img src="https://articles-images.sftcdn.net/wp-content/uploads/sites/3/2016/01/wallpaper-for-facebook-profile-photo.jpg" alt="Image not found" class="avatar-large">
  <% end %>

  <div class="info-card">
    <strong><h5><%= @user.full_name.capitalize  %></h5></strong>
    <p><%= @user.bio  %></p>
    <p><%= @user.description  %><p>
    <font size="+1"><h5><%= @user.blog  %></h5></font>
    <%= form_for :conversation, url: conversations_path do |f| %>
      <%= f.hidden_field :receiver_id, value: @user.id %>
        <div class="pt-7" style="display: inline-block;">
          <%= f.submit 'Send A Message', class: 'btn-main' %>
        </div>
    <% end %>
  </div>

  <div class="parent-card">
    <div class="card-trip-header mt-80"><h3>Cycling Trips </h3></div>
    <% if @user.trips.empty? %>
      <p class="uni-opacity40 my-4"> no cycling trips added by <%= @user.full_name.capitalize %> so far </p>
    <% else %>
      <% @user.trips.each do |trip| %>
        <div class="card-trip mb-3" style="background: linear-gradient(-225deg, rgba(30,30,30,0.4) 30%, rgba(46,46,46,0.5) 80%),url(<%= cl_image_path(trip.photo_url(:low)) %>); background-size: cover; background-repeat: no-repeat; background-position: center center;">
         <% if trip.end_date > Date.today %>
              <p class="travelling-tag">Now travelling</p>
            <% end %>
          <strong><h3><%= trip.name %></h3></strong>
          <div class="container-card">
            <div>
              <p><strong><%= trip.start_date.year %></strong></p>
              <font size="1"><p><%= trip.start_date.strftime("%B") %></p></font>
            </div>
            <div>
              <p><strong><%= (trip.start_date.to_date..trip.end_date.to_date).to_a.size %> </strong></p>
              <font size="1"><p>days</p></font>
            </div>
            <div>
              <p><strong><%= trip.km %> </strong></p>
              <font size="1"><p>kilometers</p></font>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
