<!-- this is the page of a cyclist -->

<div class="uni-page-container text-center p-3">
  <% if @user.photo.file %>
      <%= cl_image_tag @user.photo.url(:avatar) %>
  <% else %>
      <img src="https://articles-images.sftcdn.net/wp-content/uploads/sites/3/2016/01/wallpaper-for-facebook-profile-photo.jpg" alt="Image not found" class="avatar-large">
  <% end %>

  <div class="info-card">
    <strong><h5><%= @user.full_name.capitalize  %></h5></strong>
    <p><%= @user.bio  %></p>
    <p><%= @user.description  %><p>
    <font size="+1"><h5><%= @user.blog  %></h5></font>
    <%= form_for :conversation, url: conversations_path do |f| %>
      <%= f.hidden_field :receiver_id, value: @user.id %>
        <div class="pt-7" style="display: inline-block;">
          <%= f.submit t('cyclist.send_a_message'), class: 'btn-main' %>
        </div>
    <% end %>
  </div>

  <div class="parent-card">
    <div class="card-trip-header mt-80"><h3><%= t('cyclist.trip_section.headline') %></h3></div>
    <% if @trips.empty? %>
      <p class="uni-opacity40 my-4"> <%= t('cyclist.trip_section.default_content', username: @user.full_name.capitalize ) %></p>
    <% else %>
      <% @trips.each do |trip| %>

        <%= link_to trip_path(trip) do  %>
          <div class="card-trip mb-3" style="background: linear-gradient(-225deg, rgba(30,30,30,0.4) 30%, rgba(46,46,46,0.5) 80%),url(<%= trip.photo_url.nil? ? "" : cl_image_path(trip.photo_url(:low)) %>); background-size: cover; background-repeat: no-repeat; background-position: center center;">

            <% if trip.end_date.nil?  || trip.end_date > Date.today %>
                <div class="travelling-tag">
                  <div class="dot"></div>
                  <div><%= t('trip_card.now_travelling') %></div>
                </div>
            <% end %>

            <strong><h3><%= trip.name %></h3></strong>

            <div class="container-card">
              <div>
                <p><strong><%= trip.start_date.year %></strong></p>
                <font size="1"><p><%= trip.start_date.strftime("%B") %></p></font>
              </div>
              <div>
                <p><strong><%= trip.trip_time %> </strong></p>
                <font size="1"><p><%= t('trip_card.days') %></p></font>
              </div>
              <div>
                <% unless trip.km.nil? %>
                <p><strong><%= trip.km %> </strong></p>
                <font size="1"><p><%= t('trip_card.kilometers') %></p></font>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
