<div class="welcome-pages">
  <h1 class="mb-50"><%= t('welcome_pages.profile.title') %></h1>
  <p class="mb-4"><%= t('welcome_pages.profile.what').html_safe %></p>
  <p class="mb-30"><%= t('welcome_pages.profile.why').html_safe %></p>
   <%= cl_image_tag('Complete_your_profile-3', height: 300,:transformation=>[{:quality=>"auto:best"}]) %>
  <%= link_to t('welcome_pages.next'), welcomeinspire_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
