<h1>New message to <%= @conversation.receiver.name %></h1>

<%= form_for :personal_message, url: conversation_personal_messages_path(@conversation) do |f| %>
  <%= hidden_field_tag 'receiver_id', @conversation.receiver.id %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
<% end %>
