<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

  <div class="top-menu uni-box-shadow">
    <div class="top-menu-item justify-start">
      <%= link_to do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </div>

    <div class="top-menu-item">
      <h2>Ciclo</h2>
    </div>

    <div class="top-menu-item justify-between">
      <%= link_to conversations_path do %>
        <i class="far fa-comments pr-3"></i>
      <% end %>
      <%= link_to do %>
        <i class="fas fa-sliders-h"></i>
      <% end %>
    </div>
  </div>


    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/navbar' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
