<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CICLO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <% if @hide_nav  %>
      <input type="hidden" id="hidden-nav">
    <% end %>


  <% if @hide_menu || @show_page %>
      <input type="hidden" id="hidden-menu">
      <% if @show_page %>
        <%= render 'shared/topmenu_backmap' %>
      <% else  %>
        <%= render 'shared/topmenu_secondary' %>
      <% end %>
  <% end %>


    <%= render 'shared/topmenu' %>

    <%= render 'shared/flashes' %>

    <div class="uni-app-container">
      <%= yield %>
      <div class="popdown" id="modify-popdown">
      </div>
    </div>

    <%= render 'shared/navbar' if !devise_controller? %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
